/* Default icons */
.explorer-viewlet .file-icon {
    background-image: url('../icons/defalut-icons/SQ-file.svg');
    display: block;
}

.explorer-viewlet .folder-icon {
    background-image: url('../icons/defalut-icons/SQ-folder.svg');
    display: block;
}


/* File icons */
.explorer-viewlet .file-icon[title="c#"]{
    background-image: url('../icons/file-icons/SQ-c#.svg');
    display: block;
}

.explorer-viewlet .file-icon[title="css"]{
    background-image: url('../icons/file-icons/SQ-css.svg');
    display: block;
}

.explorer-viewlet .file-icon[title="html"]{
    background-image: url('../icons/file-icons/SQ-html.svg');
    display: block;
}

.explorer-viewlet .file-icon[title="javascript"]{
    background-image: url('../icons/file-icons/SQ-JavaScript.svg');
}

.explorer-viewlet .file-icon[tile="image"]{
    background-image: url('../icons/file-icons/SQ-image.svg');
    display: block;
}


/* Folder icons */
.explorer-viewlet .root-folder-icon {
    background-image: url('../icons/file-icons/SQ-circleClosed.svg');
    display: block;
}

.explorer-viewlet .root-folder-icon[open] {
    background-image: url('../icons/file-icons/SQ-circleOpen.svg');
    display: block;
}